<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/simplePagination.js/1.6/simplePagination.min.css">
    <link rel="stylesheet" href="/css/site.css" />
    <link rel="stylesheet" href="/css/contactus.css" />
    <link rel="stylesheet" href="/css/products.css" />
    <title>Contact Us</title>
</head>

<body class="main">

    <div class="position-relative top-header1 d-flex justify-content-between">
        <div class="px-3">
            <a href="/views/login.html" class="fa-icon" title="Login"><i class="fa fa-user"></i><span
                    class="mx-2">sign-in</span></a>
        </div>
        <div class="px-3">
            <span>We are shipping in India</span>
        </div>
        <div class="px-3">
            <i class="fa fa-bell mx-2"></i>
            <i class="fa fa-cart-shopping mx-2"></i>
        </div>
    </div>
    <div class="position-relative top-header2">
        <div class="">
            <div class="d-flex justify-content-center mt-2">
                <img src="/image/logo.png" class="logoimg">
            </div>
            <div class="d-flex justify-content-center mb-4"><b>Goel Sons </b></div>
        </div>
    </div>

    <nav class="position-sticky navbar navbar-expand-sm bg-light text-dark" aria-label="Tenth navbar example">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample08"
                aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-center" id="navbarsExample08">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active mx-3" aria-current="page" href="../index.html">HOME</a>
                    </li>

                    <li class="nav-item mx-3 nav-fabrics">
                        <a class="nav-link" href="/views/fabrics.html" id="navbarDropdown" role="button" aria-expanded="false">
                            FABRICS
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-12">
                                    <div>
                                        <a class="dropdown-item viscose-jacquard" href="#">Viscose Jacquard</a>
                                    </div>
                                    <div><a class="dropdown-item viscose-stripe" href="#">Viscose Stripe</a></div>
                                    <div><a class="dropdown-item viscose-slub" href="#">Viscose Slub</a></div>
                                    <div><a class="dropdown-item viscose-plain" href="#">Viscose Plain</a></div>
                                    <div><a class="dropdown-item viscose-dobby" href="#">Viscose Dobby</a></div>
                                    <div><a class="dropdown-item viscose-crepe" href="#">Viscose Crepe</a></div>
                                    <div><a class="dropdown-item viscose-boota" href="#">Viscose Boota</a></div>
                                    <div><a class="dropdown-item viscose-lurex" href="#">Viscose Lurex</a></div>
                                    <div><a class="dropdown-item viscose-georgette" href="#">Viscose Georgette</a></div>
                                    <div><a class="dropdown-item cotton-jacquard" href="#">Cotton Jacquard</a></div>
                                    <div><a class="dropdown-item viscose-check" href="#">Viscose Check</a></div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 nav-fabric-image p-0 m-0 d-none">
                                    <img src="/image/navimage/jpeg-optimizer_image.png" class="p-0" width="400px"
                                        alt="">
                                </div>
                            </div>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-3" href="#">ABOUT US</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-3" href="/views/contactus.html">CONTACT US</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
      <br> <br>

      <section class="mt-2">
        <div class="row d-flex justify-content-center" id="contact-section">
            <div class="col-lg-9">
                <div class="mx-2 text-12">
                    <h6>For Further Queries, Consult With Us.</h6>
                    <br>
                </div>
                <div class="border rounded container container-bg">
                    <div class="row px-4">
                        <div class="col-lg-7 col-md-6 px-0">
                            <div class="map_container 100">
                                <div class="map-responsive mt-3">
                                    <iframe class="p-2"
                                        src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3500.759398850538!2d77.26977107550202!3d28.666921975645963!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMjjCsDQwJzAwLjkiTiA3N8KwMTYnMjAuNSJF!5e0!3m2!1sen!2sin!4v1708854611908!5m2!1sen!2sin"
                                        width="600" height="450" style="border:0; width: 100%; height:100%"
                                        allowfullscreen="" loading="lazy"
                                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-6 px-0">
                            <div class="row my-2">
                                <form method="post" action="/">
                                    <input type="hidden" name="csrfmiddlewaretoken"
                                        value="0ov8kfnmwWZd2ZcreLG2uLtf5NXqFOyYPQBnBwkyj28CDUXHXJP1huiDgZnXFRZO">
                                    <div class="">
                                        <input type="text" class="form-control form-control-sm my-1" name="name"
                                            maxlength="50" placeholder="Name" required="" id="id_name">
                                    </div>
                                    <div>
                                        <input type="email" class="form-control form-control-sm my-1" name="email"
                                            maxlength="254" placeholder="Email" required="" id="id_email">
                                    </div>
                                    <div>
                                        <input type="text" class="form-control form-control-sm my-1"
                                            name="mobile_number" maxlength="15" placeholder="Phone" required=""
                                            id="id_mobile_number">
                                        <div>
                                            <textarea name="message" class="form-control form-control-sm my-1" cols="40"
                                                rows="5" placeholder="Message" required="" id="id_message"></textarea>
                                        </div>
                                        <div class="d-flex my-2">
                                            <button class="btn btn-sm sendbtn" type="submit">SEND</button>
                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="aboutus p-4 bottom-footer" id="footer-section">
        <div class="row">
          <div class="col-lg-2 col-md-3 col-sm-12 p-1 text-12">
            <b>Goel Sons & Fabric</b>
            <div class="col-12">
              <hr>
              <div><a href="#">Home</a></div>
              <div><a href="#">Get In Touch</a></div>
              <div><a href="#">Privacy Policy</a></div>
              <div><a href="#">Terms & Conditions Policy</a></div>
              <div><a href="#">Refund & Replacement Policy</a></div>
              <div><a href="#">Shipping & Payment Policy</a></div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12 p-1 text-12">
            <b>ABOUT US</b>
            <div class="col-12">
              <hr>
              Goel Sons, since 1985, excels in crafting diverse, superior-quality Greige/RFD fabrics with
              4000+ customizable designs, ensuring durability and competitive prices. Under Mr. Mahesh Goel's
              guidance, our commitment lies in fostering long-term relationships by delivering top-notch goods
              and services for a positive customer experience.
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12 p-1 text-12">
            <b>OUR PROMISE</b>
            <div class="col-12">
              <hr>
              At Geol Sons & Fabrics, we sell quality products and we ensure the products we sold are value
              for money. We have set ourselves bringing best products that is trending in the market.
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12 p-1 text-12">
            <b>CONTACT US</b>
            <div class="col-12">
              <hr>
              25, Jain Market, Shanti Mohalla, Old Seelampur, Gandhi Nagar, Delhi-110031.
              +91 9910472379
              maheshgoelsons@gmail.com
            </div>
          </div>
        </div>
        <div class="row d-flex justify-content-center align-middle mt-5 text-12">
          <div class="col-lg-4 col-md-3 col-sm-12 hr p-0 m-0 mt-2"></div>
          <div class="col-lg-2 col-md-2 col-sm-12 p-0 m-0 text-center rightstext"><b>© 2024 All Rights Reserved By
              GOEL SONS</b></div>
          <div class="col-lg-4 col-md-3 col-sm-12 hr p-0 m-0 mt-2"></div>
        </div>
    
      </section>


      <div>
        <section>
            <div class="bottom1">
            </div>
        </section>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/simplePagination.js/1.6/jquery.simplePagination.min.js"></script>

<script src="/js/site.js"></script>

    <script>
        $('.fcard dropdown-item').on('click', function () {
            window.location.href="/views/products.html"
        })
    </script>


</body>



</html>